.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: #ffae00;
  align-items: center;
  opacity: 0.5;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.title {
  margin-top: 19px;
  margin-left: 10px;
}

.foodIcon {
  width: 50px;
  height: 50px;
}

.reloadBox {
  font-size: 20px;
  border-radius: 5px;
  border: none;
  transition: transform 200ms ease-in-out;
}

.reloadBox:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.reloadBtn {
  width: 40px;
  height: 40px;
}

.reloadBtn:hover {
  cursor: pointer;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
