.app {
  max-width: 100rem;
}

.content {
  position: relative;
}

.detail {
  z-index: 1;
  margin: auto 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.list {
  /* visibility: hidden; */
}
