.app {
  max-width: 100rem;
}

.content {
  position: relative;
}

.detail {
  z-index: 1;
  /* margin: auto 0; */
  margin-top: 40px;
  height: 500px;
  width: auto;
  position: absolute;
  background-color: lightgreen;
}

.list {
  /* visibility: hidden; */
}
