/* @value makerLightOrange from './common/colors.css'; */

.app {
  max-width: 100rem;
  /* background-image: url("https://image.freepik.com/free-photo/spaghetti-with-spicy-mixed-seafood-dark-background_1150-45297.jpg"); */
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.content {
  position: relative;
}

.detail {
  z-index: 2;
  /* margin: auto 0; */
  margin-top: 1em;
  height: 500px;
  width: auto;
  position: absolute;
  background-color: #dfe08e;
}

.list {
  /* visibility: hidden; */
  z-index: 1;
}
