.foodBox {
  display: flex;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.sidebarLeft {
  margin-top: ;
  background-color: chartreuse;
  font-size: 3em;
  width: 10%;
  cursor: pointer;
  position: relative;
}

.sidebarLeft::after {
  position: absolute;
  z-index: 2;
}

.sidebarRight {
  margin-top: ;
  background-color: chartreuse;
  font-size: 3em;
  width: 10%;
  cursor: pointer;
  position: relative;
}

.sidebarRight::after {
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 769px) {
  .foods {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
