.foods {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  spac
  width: 70%;
  margin-left: 10em;
}

@media screen and (max-width: 769px) {
  .foods {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
