.foodBox {
  display: flex;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1em auto;
  padding: 0;
}

.sidebarLeft {
  background-color: chartreuse;
  font-size: 2em;
  width: 25%;
}

.sidebarRight {
  background-color: chartreuse;
  font-size: 2em;
  width: 25%;
}

@media screen and (max-width: 769px) {
  .foods {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
