.foodBox {
  display: flex;
}

.foods {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 40px;
}

.sidebarLeft {
  background-color: chartreuse;
  margin: 0.5em 0;
  font-size: 3em;
  width: 10%;
  cursor: blocked;
  position: relative;
}

.sidebarLeft::after {
  position: absolute;
  z-index: 2;
}

.sidebarRight {
  background-color: chartreuse;
  margin: 0.5em 0;
  font-size: 3em;
  width: 10%;
  cursor: blocked;
  position: relative;
}

.sidebarRight::after {
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 769px) {
  .foods {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
