.foods {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 16px auto;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .foods {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}
