.section {
  /* display: none; */
  height: 100%;
  width: 100%;
  display: flex;
}

.detail {
  flex-direction: row;
}

.title {
  font-size: 2em;
}

.dishTypes {
  font-size: 2em;
}

.instructions {
}
