.section {
  /* display: none; */
  height: 100%;
  width: 100%;
  display: flex;
}

.detail {
  flex-direction: row;
  margin: auto 5em;
}

.title {
  font-size: 2em;
  margin: 5em auto;
}

.dishTypes {
  font-size: 1.2em;
  margin: 5em auto;
}

.instructions {
  margin: 5em auto;
}
