.section {
  /* display: none; */
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  z-index: 2;
  /* margin: auto 0; */
  /* margin-top: 1.3em; */
  height: 550px;
  width: auto;
  position: absolute;
  background-color: #dfe08e;
}

.detail {
  flex-direction: row;
  margin: auto 5em;
}

.title {
  font-size: 1.5em;
  font-weight: 800;
  margin: 3px auto;
}

.dishTypes {
  font-size: 1.2em;
  font-weight: 700;
  margin: 3px auto;
}

.instructions {
  margin: 1em auto;
  font-size: 0.9em;
}
