.box {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  transition: transform 200ms ease-in-out;
  box-shadow: 3px 3px 5px 0px rgba(189, 189, 189, 0.53);
  width: 46.5%;
  margin-bottom: 0.6em;
  margin-right: 0.6em;
}

.box:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.food {
  position: relative;
  width: 250px;
  height: 250px;
  list-style-type: none;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50, 50);
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}

.title {
  font-size: 1.2em;
  width: 50%;
  text-align: center;
  margin-left: auto 1em;
  padding: 2px;
  vertical-align: middle;
}
